<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
   <div class="form">
        <form action="doInsert" method="POST">
            
            <h1>Add Book</h1>
            
            <div class="flex">
                <p><span>Name:</span> <input type="text" name="txtNameBook" ></p>
                <p><span>Price:</span> <input type="text" name="txtPriceBook" ></p>
                <p><span>Description:</span><textarea name="txtDescriptionBook" id="" cols="21" rows="8"></textarea></p>
                
            </div>
            <p class="btn-p"><input type="submit" id="btn" value="Add"></p>
        </form>
    </div> 
    <h1>List of Books</h1>
    <table class="styleTable" border="1">
        <tr>
            
            <th class="name">NameBook</th> 
            <th class="id">PriceBook</th>
            <th class="name">DescriptionBook</th>
            
        </tr>
        {{#each book}} 
        <tr>
         
             
             <td class="name">{{NameBook}}</td>
            <td class="id">{{PriceBook}}</td>
            <td class="name">{{DescriptionBook}}</td>
            <td class="btn">
                <a href="/update?id={{_id}}">Update</a>
                <a href="/delete?id={{_id}}">Delete</a>
            </td> 
        </tr>  
         {{/each}}
        
        
    </table>
</body>
</html>